/* @font-face {
  font-family: 'Mikola';
  src: url('fonts/Mikola.woff');
} */

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    transform: translateY(25%);
  }

  to {
    transform: translateY(0);
  }
}

html {
  font-family: 'DejaVu Sans', sans-serif;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 20px;
  }
}

html, body {
  background: white;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  position: relative;
}

.header {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.header--collapsed {
  height: 0;
  justify-content: start;
  padding: 0 3rem;
  position: sticky;
  top: 0;
  z-index: 2;
}

.header--inverse {
  color: white;
}

.logo {
  animation: fade-in 500ms 400ms both, slide-in 500ms 400ms both;
  position: relative;
  z-index: 1;
  width: 480px;
  max-width: calc(100vw - 2rem);
}

.header--collapsed .logo {
  animation: fade-in 500ms 500ms both;
  width: 112px;
  margin-top: 8rem;
}

.main {
  z-index: 1;
  position: relative;
  line-height: 1.5;
  font-size: 2rem;
  min-height: 200vh;
}

.main--visible {
  animation: fade-in 500ms 500ms both;
}

hr {
  width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100vh;
  padding: 0 3rem;
}

.section--center {
  justify-content: center;
  align-items: center;
}

.section--blue {
  color: white;
  background: #1262DB;
  z-index: 2;
  position: relative;
  justify-content: start;
}

.sticky-section-header {
  height: auto;
  justify-content: start;
  padding: 2rem 0;
  position: sticky;
  top: 0;
  z-index: 3;
}

.sticky-section-header .logo {
  width: 112px;
}

.section--white {
  background: white;
}

@media screen and (min-width: 768px) {
  .tagline {
    max-width: 75%;
  }
}

@media screen and (min-width: 1024px) {
  .tagline {
    max-width: 40%;
  }
}

.bars {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}

.bars--hidden {
  pointer-events: none;
}

.bars--behind {
  z-index: 1;
}

#drawing {
  border: solid 2px black;
  cursor: crosshair;
  max-width: calc(100vw - 2rem);
  mix-blend-mode: overlay;
}

.drawing-widget p {
  border: solid 2px black;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  border-bottom: none;
  margin: 0;
  background: white;
}

.swatches {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0.5rem 0;
  align-items: center;
}

.swatch {
  cursor: pointer;
  width: 4rem;
  height: 1.5rem;
  background-color: var(--bg-color);
}

.swatch--selected {
  border: solid 2px black;
}

.comingsoon {
  background: #DD01A3;
  color: white;
  width: 100%;
  max-width: 900px;
  padding: 2rem;
  font-size: 1rem;
}

.comingsoon__title {
  font-size: 2rem;
  margin: 0 0 4rem;
}

.comingsoon__info {
  display: grid;
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  .comingsoon__info {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.comingsoon__info p {
  margin: 0;
}

.comingsoon a,
.comingsoon a:visited {
  color: white;
}
