/* @font-face {
  font-family: 'Mikola';
  src: url('fonts/Mikola.woff');
} */

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    transform: translateY(25%);
  }

  to {
    transform: translateY(0);
  }
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'DejaVu Sans', sans-serif;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 20px;
  }
}

html, body {
  background: white;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: auto;
  overflow-x: hidden;
  position: relative;
  transition: background-color 500ms;
}

.header {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.header--collapsed {
  height: 0;
  justify-content: start;
  padding: 0 3rem;
  position: sticky;
  top: 0;
  z-index: 2;
}

.header--inverse {
  color: white;
}

.logo {
  animation: fade-in 500ms 400ms both, slide-in 500ms 400ms both;
  position: relative;
  z-index: 1;
  width: 480px;
  max-width: calc(100vw - 2rem);
  transition: color 500ms;
}

.header--collapsed .logo {
  animation: fade-in 500ms 500ms both;
  width: 112px;
  margin-top: 8rem;
}

.main {
  z-index: 1;
  position: relative;
  line-height: 1.5;
  font-size: 2rem;
  min-height: 200vh;
}

.main--visible {
  animation: fade-in 500ms 500ms both;
}

hr {
  width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100vh;
  padding: 0 3rem;
}

.section--center {
  justify-content: center;
  align-items: center;
}

.section--blue {
  color: white;
  z-index: 2;
  position: relative;
  justify-content: start;
}

.body--blue {
  background: #1262DB;
}

.body--blue .logo {
  color: white;
}

.section--white {
  background: white;
}

@media screen and (min-width: 768px) {
  .tagline {
    max-width: 75%;
  }
}

@media screen and (min-width: 1024px) {
  .tagline {
    max-width: 40%;
  }
}

.bars {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 100vw;
}

.bars--hidden {
  pointer-events: none;
}

.bars--behind {
  z-index: 1;
}

.drawing-widget {
  position: relative;
  max-width: 100vw;
  padding: 0 0.5rem;
}

#drawing {
  border: solid 2px black;
  cursor: crosshair;
  max-width: calc(100vw - 1rem);
  width: 750px;
  aspect-ratio: 5 / 2;
  display: block;
}

.drawing-widget p {
  border: solid 2px black;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  border-bottom: none;
  margin: 0;
}

.drawing-widget p,
.drawing__controls {
  background: rgba(255,255,255,0.6);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.drawing__controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 0.5rem;
  border: solid 2px black;
  border-top: none;
}

.swatches,
.weights {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0.5rem 0;
  align-items: center;
  max-width: 100%;
}

.swatch {
  cursor: pointer;
  width: 4rem;
  height: 1.5rem;
  background-color: var(--bg-color);
  flex-shrink: 1;
}

.swatch--eraser {
  background: white;
  position: relative;
  margin-left: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swatch--eraser svg {
  height: 100%;
}

.swatch--selected {
  border: solid 2px black;
}

.weights {
  gap: 0.5rem;
}

.weight {
  background: black;
  border: solid 2px white;
  border-radius: var(--size);
  color: black;
  cursor: pointer;
  height: var(--size);
  width: var(--size);
  font-size: calc(var(--size) - 6px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.weight::after {
  content: '✓';
}

.weight--selected {
  color: white;
}

.comingsoon {
  background: #DD01A3;
  color: white;
  width: 100%;
  max-width: 900px;
  padding: 2rem;
  font-size: 1rem;
}

.comingsoon__title {
  font-size: 2rem;
  margin: 0 0 4rem;
}

.comingsoon__info {
  display: grid;
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  .comingsoon__info {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.comingsoon__info p {
  margin: 0;
}

.comingsoon a,
.comingsoon a:visited {
  color: white;
}
