<!-- wp:group {"layout":{"type":"constrained","contentSize":"1200px"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"header","theme":"kunstbar"} /-->
  <!-- wp:group {"tagName":"main"} -->
  <main class="wp-block-group main main--page">
    <!-- wp:post-title {"level":1} /-->
    <!-- wp:post-content {"lock":{"move":false,"remove":true},"layout":{"type":"constrained"}} /-->
  </main>
  <!-- /wp:group -->
</div>
<script src="https://live.tebi.co/ecom/widget-manager.js"
  data-widget-token="612731_487094ece70f65f190fba02ac1da407fd4c0429b4584cf0670bbb75d31f59678"
  id="tebi"></script>
<!-- /wp:group -->
